{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container text-center mt-3 row">
    <h2 class="text-capitalize">{{object.title}}</h2>
    <img src="{{object.thumbnail.url}}" class="img-fluid img-thumbnail">
    <div class="card-text text-start mt-2">
        <span><i class="fas fa-eye ms-2"></i> {{object.get_postview_count}}</span>
        <span><i class="fas fa-thumbs-up ms-2"></i> {{object.get_like_count}}</span>
        <span><i class="fas fa-comments ms-2"></i> {{object.get_comment_count}}</span>
    </div>
    <p class="mt-5 text-start fs-5 lh-sm font-monospace">{{object.content}}</p>
    <br>
    <hr>
    <div class="text-start m-2">
    {% if request.user.is_authenticated %}
    <div class="text-start">
        <p>Enjoyed this Post? Give it a like!</p>
        <a href="{{object.get_like_url}}" style="text-decoration: none; color:grey;" >
            <span><i class="fas fa-thumbs-up fa-lg ms-2 mb-3"></i> {{object.get_like_count}}</span>
        </a>
    </div>
    <hr>
        <p>Leave a Comment:</p>
        <form method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            {{form|crispy}}
            <button class="btn btn-danger">Comment</button>
        </form>
    {% else %}
    <a href="{% url 'account_login' %}" style="text-decoration: none; color:grey;">
    <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-danger btn-lg">Login to Comment</button>
    </div>
    </a>
    {% endif %}
        <p class="mt-3 fw-bold">Comments:</p>
        <hr>
        {% for object in object.comments %}
            <p>{{object.content}}</p>
            <small>{{object.timestamp}}</small>
            <hr>
        {% endfor %}
    </div>
</div>


{% endblock content %}